<h2>Add <em><%= @user.name %></em> as New Friend</h2>

<%= form_tag("/goods_services", method: "post") do %>
  <%= label :goods_service, :name, 'Name', class: 'col-form-label' %>
  <%= text_field :goods_service, :name, class: 'form-control' %>
  <%= label :goods_service, :description, 'Item Description', :class => 'col-form-label'  %>
  <%= text_area :goods_service, :description, rows: 4, :class => 'form-control col-lg-12 taller-text-field' %>
  <%= label :goods_service, :category, 'Category', class: 'col-form-label' %>
  <%= select :goods_service, :category, {"Good":0,"Service":1}, class: 'form-control' %>
  <br/>
  <%= submit_tag 'Post', class: 'btn btn-primary' %>
<% end %>