<h2>Details of <em><%= @good_service.name %></em> offered by <em><%= @good_service.user.name %></em></h2>

<ul id ="Item Details">
  <b>Item Description:</b>
  <br/>
  <%= @good_service.description %>
</ul>

<ul id="Contact the Owner">
    <b>Owner Name:</b>
    <%= @good_service.user.name %>
    <!-- <%= link_to "#{@good_service.user.name}", profile_path(@good_service.user.user_id)%> -->
    <br/>
    <b>Owner Email:</b>
    <%= @good_service.user.contact_information %>
</ul>

<%= link_to 'Go Back', goods_services_path, class: 'btn btn-primary' %>
