<h2>Post New Listing</h2>

<%= form_tag goods_services_path, :class => 'form' do %>
  <%= label :item, :name, 'Item Name', :class => 'col-form-label' %>
  <%= text_field :item, :name, :class => 'form-control' %>
  <%= label :item, :type, 'Item Type', :class => 'col-form-label'  %>
  <%= select :item, :type, ['Physical Good','Service'], {}, {:class => 'form-control col-2'} %>
  <%= label :item, :description, 'Item Description', :class => 'col-form-label'  %>
  <%= text_field :item, :description, :class => 'form-control col-lg-12 taller-text-field' %>
  <br/>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', goods_services_path, :class => 'btn btn-secondary' %>
<% end %>
