<!--  app/views/movies/show.html.erb -->
<h2>Contact the owner of <em><%= @good_service.name %></em></h2>

<ul id="Contact the Owner">
  <li>
    Name:
    <%= @good_service.user.name %>
    <!-- <%= link_to "#{@good_service.user.name}", profile_path(@good_service.user.user_id)%> -->
  </li>
  <li>
    Email:
    <%= @good_service.user.contact_information %>
  </li>
</ul>

<%= link_to 'Go Back', goods_services_path, class: 'btn btn-primary' %>
