<h2>Sign up</h2>

<%= form_for :registration, url: registration_path do |f| %>

    <div class="field">
      <%= f.label :name %> *<br />
      <%= f.text_field :name, autofocus: true, required: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label :username %> *<br />
      <%= f.text_field :username, required: true %>
    </div>
    <br>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>
    <br>
    <div class="field">
      <%= f.label :photo_url %><br />
      <%= f.text_field :photo_url %>
    </div>

  <div class="field">
    <%= f.label :email %> *<br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %> *<br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", required: true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation %> *<br />
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
  </div>
  <br>
  <div class="actions">
    <%= link_to 'Sign Up', goods_services_path, class: 'btn btn-primary' %>
  </div>
<% end %>
