<h1>Profile Page</h1>

<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<p>Friend Key: <%= @user.user_id %></p>
<p>Address: <%= @user.address %></p>
<p>Contact: <%= @user.contact_information %></p>
<p>Rating: <%= @user.rating %></p>

<table class="table table-striped col-md-12" id="goods_services">
  <caption style="caption-side: top;">Your Goods and Services</caption>
  <thead>
    <tr>
      <th>Good/Service</th>
      <th>Name</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @goods_services.any? %>
    <% @goods_services.each do |goods_service| %>
        <tr>
            <td><%= link_to "#{goods_service.name}", goods_service_path(goods_service) %></td>
            <td><%= goods_service.user&.name || "Unknown User" %></td>
            <td><%= goods_service.category == 0 ? "Good" : "Service" %></td>
            <td><%= link_to "Edit", edit_goods_service_path(goods_service), class: 'btn btn-primary' %></td>
            <td><%= link_to "Delete", goods_service_path(goods_service), method: :delete, data: { confirm: 'Are you sure?', turbolinks: false }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
    <% else %>
        <tr>
            <td colspan="5">No goods or services found.</td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Offer a new good/service', 'goods_services/new', class: 'btn btn-primary' %>

<table class="table table-striped col-md-12" id="all_users">
  <caption style="caption-side: top;">Your Friends</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact Info</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
        <tr>
            <td><%= friend.name %></td>
            <td><%= friend.contact_information %></td>
            <td><%= link_to "Remove", profile_path(friend.user_id), :method => :delete %></td>
        </tr>
    <% end %>

  </tbody>
</table>

<%= link_to 'Add Friends', "/users", class: 'btn btn-primary' %> <!-- Replace "#" with the appropriate path for adding friends. -->
<%= link_to 'Back to Home', goods_services_path, class: 'btn btn-primary' %>